    @import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap');
    body {
        font-family: 'Titillium Web', sans-serif;
        font-family: 'Montserrat', sans-serif;
        background-color: #F5F5F5;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
    }
    
    section {
        margin: 0 !important;
    }
    .brand-logo {
        margin-left: 1rem;
        padding-bottom: 3px;
    }
    h5 {
        font-family: 'Montserrat', sans-serif;
    }
    
    footer p {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #title {
        opacity: 0;
    }
    
    #title-big {
        display: none;
    }
    
    #wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }
    
    .nav-color {
        background-color: rgb(255, 255, 255);
    }
    .nav-active {
        background-color: #72b1e6;
    }
    .nav-color a {
        color: black;
    }
    /* Top Screen Slider */
    
    .slider-container {
        color: #fff;
    }
    
    .slider-container img {
        position: relative;
        width: 100%;
    }
    
    .slider-container .slider-title {
        position: absolute;
        top: 50%;
        left: 25%;
    }
    
    .section-search {
        padding-top: 3rem;
        height: 10rem;
        background: rgb(0, 212, 255);
        background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(33, 150, 243, 1) 55%);
    }
    
    .section-search p {
        font-size: 14px !important;
    }
    
    .section-quote {
        height: 250px;
        color: #fff;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg2.png');
        background-repeat: no-repeat;
        background-blend-mode: multiply;
    }
    
    .section-quote-2 {
        height: 250px;
        color: #fff;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg3.png);
        background-repeat: no-repeat;
        background-blend-mode: multiply;
    }
    
    .section-quote-3 {
        color: #fff;
        font-size: 12px;
        height: 200px;
        border-bottom: 1px solid rgb(104, 103, 103);
        background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 1))
    }
    
    .section-quote-3 .title {
        color: #a4d55d;
        font-size: 15px;
        text-transform: uppercase;
    }
    
    .section-quote-2 .inner {
        padding-top: 60px;
    }
    
    .section-quote .inner {
        padding-top: 60px;
    }
    
    .support-font {
        text-align: right;
        font-size: 20px;
        color: rgba(218, 218, 218, 0.37);
    }

    .support-font-2 {
        text-align: right;
        font-size: 28px;
        color: rgba(218, 218, 218, 0.37);
    }
    
    .main-font {
        font-size: inherit;
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
    
    .span-about-hr {
        margin: -.5rem auto;
        margin-right: 0;
        width: 30%;
        border-bottom: 3px solid #a4d55d;
    }
    
    .round_button {
        text-align: center;
        padding: 10px;
        font-weight: 600;
        border-radius: 50px;
        margin-top: -7px;
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
    
    .round_button_black {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    
    .flow {
        overflow: hidden;
    }
    
    .image-banner {
        background-image: url(../images/youth1.png);
        background-size: cover;
        background-position: 50%;
        height: 430px;
        transition: .5s;
    }
    
    .image-banner:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        transition: .5s;
        opacity: .6;
    }
    
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .image-banner:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
        background: rgba(33, 150, 243, 0.7);
    }
    
    .content-details h5 {
        color: #fff;
        font-weight: 700;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .7);
    }
    
    .content-details p {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        color: #fff;
        font-size: 0.8em;
    }
    
    .fadeIn-bottom {
        top: 80%;
    }
    
    .image-banner-2 {
        background-image: url(../images/youth1-2.png);
        background-size: cover;
        background-position: 50%;
        height: 430px;
        transition: .5s;
    }
    
    .image-banner-2:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        transition: .5s;
        opacity: .6;
    }
    
    .image-banner-2:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
        background: rgba(33, 150, 243, 0.7);
    }
    
    .section-follow {
        background: rgb(17, 31, 78);
    }
    
    .social a {
        padding-right: 8px;
    }

    .p-tag p{
        line-height: 2rem;
    }
    
    @media screen and (max-width: 872px) {
        .slider {
            visibility: hidden;
        }
        .section-quote {
            height: 100%;
            align-content: center;
            padding-bottom: 40px;
        }
        .section-quote-2 {
            height: 100%;
            align-content: center;
            padding-bottom: 50px;
        }
        .support-font {
            text-align: center;
            font-size: 20px;
            color: rgba(218, 218, 218, 0.37);
        }
        .strip-img {
            visibility: hidden;
        }
        .card-panel {
            height: auto;
            overflow: hidden;
        }
        #cards {
            width: 100%;
        }
        .slider-container .slider-title {
            position: absolute;
            top: 20%;
            left: 10%;
        }
        .side-text p {
            visibility: hidden;
        }
        .span-about-hr {
            margin: -.5rem auto;
            width: 30%;
            border-bottom: 3px solid #a4d55d;
        }
    }
    
    .strip-1 h3::after {
        display: block;
        content: url(../images/Line.png);
        padding: 0;
    }
    
    .section-follow .fa-3x {
        margin: 5px 10px;
    }
    
    .card-panel {
        height: 400px;
    }
    
    .card-panel p {
        font-family: 'Montserrat', sans-serif;
    }
    
    .strip-img {
        width: 620px;
        height: 413px;
        float: right;
        right: 0;
    }
    
    .join h3::after {
        display: block;
        content: url(../images/lineblack.png);
        padding: 0;
    }
    
    .join p {
        font-family: 'Montserrat', sans-serif;
        line-height: 2em;
    }

    /* About Page */
    
    .header-strip {
        background: url(../images/header.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        padding-top: 100px;
        opacity: 1;
    }

    .header-strip-3 {
        background: url(../images/header2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        padding-top: 100px;
        opacity: 1;
    }

    .header-strip-3 h3 {
        text-transform: none;
    }
    
    #slideurl {
        list-style-type: none;
        display: inline-block;
    }
    
    .slidercontainer {
        width: 100%;
        margin: 0 auto;
    }
    
    .header-strip h3 {
        text-transform: none;
    }
    
    .about p {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5em;
    }
    
    .quote-strip {
        background-image: url(../images/parallax.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 2em;
        min-height: 200px;
    }
    
    .quote-strip-2 {
        background-image: url(../images/parallax2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 2em;
        min-height: 200px;
    }

    .quote-strip-3 {
        background-image: url(../images/parallax3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 2em;
        min-height: 200px;
    }
    
    .quote-strip h5 {
        top: 50%;
    }
    
    #aqua {
        border-bottom: 2px solid #334757;
        text-decoration: none;
    }
    
    .border-text {
        border: 3px;
        border-style: solid;
        border-color: #d4ec06;
        padding: 0.8em;
    }
    
    .coloraize {
        color: #d4ec06;
    }
    
    .center-div {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    /* Divider */
    
    .astrodivider {
        margin: 64px auto;
        width: 400px;
        max-width: 100%;
        position: relative;
    }
    
    .astrodividermask {
        overflow: hidden;
        height: 20px;
    }
    
    .astrodividermask:after {
        content: '';
        display: block;
        margin: -25px auto 0;
        width: 100%;
        height: 25px;
        border-radius: 125px / 12px;
        box-shadow: 0 0 8px #2196f3;
    }
    
    .astrodivider span {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 100%;
        margin-bottom: -25px;
        left: 50%;
        margin-left: -25px;
        border-radius: 100%;
        box-shadow: 0 2px 4px #4fb39c;
        background: #fff;
    }
    
    .astrodivider i {
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        border-radius: 100%;
        border: 1px dashed #68beaa;
        text-align: center;
        line-height: 40px;
        font-style: normal;
        color: #2196f3;
    }
    
    .modal-trigger {
        margin-top: 10px;
    }

    
    /* Insight */
    
    .header-strip-insight {
        background: url(../images/header_insight.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        padding-top: 100px;
        opacity: 1;
    }

    .header-strip-contact {
        background: url(../images/header-contact.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        padding-top: 100px;
        opacity: 1;
    }
    
    .gradient {
        height: 20px;
        position: relative;
        width: 100%;
        background: radial-gradient(ellipse farthest-side at top center, rgba(0, 0, 0, 0.08), transparent);
    }
    
    .gradient:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        height: 3px;
        background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02), transparent);
    }
    
    .stylarize-2 li {
        padding-top: 3px;
        list-style-type: disc !important;
    }
    
    .side-text {
        text-align: right;
        font-size: 1rem;
        padding-top: 2.5rem;
        color: rgb(153, 153, 153);
    }
    
    .scrollTop {
        position: fixed;
        left: 10%;
        bottom: 10px;
        background-color: #2195f370;
        padding: 20px;
        opacity: .6;
        transition: all 0.4s ease-in-out 0s;
    }
    
    .scrollTop a {
        font-size: 18px;
        color: #fff;
    }
    
    .scrollTop img {
        width: 15px;
        height: 15px;
        color: #fff;
    }
    /* Gallery */
    .gallery img {
        margin-left: 5px;
    }
