/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1024px) and (max-width: 1280px) {
  .sub-header {
    display: none;
  }
  
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .section-quote-3 {
    border-bottom: none ;
  }
  .on-small {
    display: none;
  }
  .section-quote-2 {
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (max-width: 768px){
  .side-text {
    display: none;
  }
  .section-quote-3 {
    border-bottom: none ;
  }
  .on-small {
    display: none;
  }
  .card-image {
    display: none;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .section-quote-3 {
    border-bottom: none ;
  }
  .on-small {
    display: none;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media screen and (max-width: 480px) {
  .sub-header {
    display: none;
  }
  .slider-container .slider-title {
    display: none;
  }
  .section-search {
    padding-top: 10px;
    margin-bottom: 5px;
  }
  .section-quote {
    height: 100%;
    margin-bottom: 5px;
  }
  .on-small {
    display: none;
  }
  .section-quote .inner {
    padding-top: 12px;
  }
  .section-quote-2 {
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .section-quote-3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.95) ;
  }
  .hide-social {
    display: none;
  }
}
